{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container jumbotron">
        <div class="row">
            <div class="col">
                <h4>Read Me</h4>
                {{ about | safe }}
            </div>
            <div class="col-md-auto">

            </div>
            <div class="col col-lg-2">

            </div>
        </div>
    </div>



    <br>
    {#footer#}
    <footer>
        <nav class="navbar fixed-bottom navbar-light bg-light mt-5">
            <a class="navbar-brand" href="#">Great CV</a>

        </nav>
    </footer>
    {#endfooter#}


{% endblock content %}