{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

    {# user data section #}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-sm">

                <h3>Lorem ipsum</h3>
                <p>dolor sit amet, consectetur adipisicing elit. Animi earum numquam reprehenderit. A
                    animi
                    aperiam, deleniti ea illo illum necessitatibus odio officiis omnis porro praesentium quae sed sint
                    temporibus totam!
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem expedita explicabo odio pariatur
                    possimus rem repellat, similique sint. Dolorem doloribus dolorum exercitationem id ipsam mollitia
                    nemo, neque provident vel veritatis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem expedita explicabo odio pariatur
                    possimus rem repellat, similique sint. Dolorem doloribus dolorum exercitationem id ipsam mollitia
                    nemo, neque provident vel veritatis.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem expedita explicabo odio pariatur
                    possimus rem repellat, similique sint. Dolorem doloribus dolorum exercitationem id ipsam mollitia
                    nemo, neque provident vel veritatis.</p>

            </div>
            <div class="col-sm">

                <h4>Lorem ipsum </h4>
                <p>
                    dolor sit amet, consectetur adipisicing elit. Dolorem expedita explicabo odio
                    pariatur
                    possimus rem repellat, similique sint. Dolorem doloribus dolorum exercitationem id ipsam mollitia
                    nemo, neque provident vel veritatis.
                </p>

                <h5> skills </h5>
                <p>
                    {{ profile.skills }}
                </p>

                <p>
                    <h4> new intro</h4>
                    {{ profile.intro | safe }}
                </p>

            </div>
        </div>
    </div>
    {# end  user data section #}


    {# make contact with me #}
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Make touch with me
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {# form #}
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <form method="post">

                                        {% csrf_token %}

{#                                        <div class="form-group">#}
{#                                            <label for="exampleFormControlInput1">Email address</label>#}
{#                                            <input type="email" class="form-control" id="emailForm" name="emailForm"#}
{#                                                   placeholder="name@example.com">#}
{#                                        </div>#}
{##}
{#                                        <div class="form-group">#}
{#                                            <label for="exampleFormControlTextarea1">Example textarea</label>#}
{#                                            <textarea class="form-control" id="TextForm" name="TextForm"#}
{#                                                      rows="3"></textarea>#}
{#                                        </div>#}
                                        {{ form | crispy }}

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Send</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {# end form #}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {# end  make contact with me #}
{% endblock content %}

