{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col">
                <form action="" method="post" class="bootstrap4">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <hr>
                    <button id="submit" type="submit" class="btn btn-success">submit</button>
                </form>

            </div>

            <div class="col">

            </div>

        </div>
    </div>

{% endblock content %}