body {
    background-color: rgba(241, 241, 241, 0.74);
}


.img-responsive {
    max-width: 50%; /* or to whatever you want here */
    max-height: 50%; /* or to whatever you want here */
}

.jumbotronTransp {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: transparent;
}